{#
/**
 * @file
 * Default node template for localgov_services_landing pages.
 */
#}

{#
  Set icon names here, so we can override them in subthemes by calling
  'include @localgov_base/content/-node--localgov-services-landing--full.twig with {
    facebook_icon = 'facebook-f',
    twitter_icon = 'twitter',
  }
#}
{% set facebook_icon = 'facebook-square' %}
{% set twitter_icon = 'twitter-square' %}
{% set email_icon = 'envelope-square' %}
{% set phone_icon = 'phone-square' %}
{% set website_icon = 'globe' %}
{% set map_icon = 'map-marker-alt' %}

{#
  For shorthand, let's abbreviate our classes from .service-landing-page to
  .service-landing-page
#}

{%
  set classes = [
    'service-landing-page',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
        {# Begin Services List #}
        {% if node.localgov_destinations.value %}
          <h2 class="visually-hidden">{{ 'Services List'|t }}</h2>
          <section class="service-landing-page__services lgd-teaser-list">
            {{ content.localgov_destinations }}
          </section>
        {% endif %}
        {# End Services List #}

        {# Begin Service Updates #}
        {# {% if service_updates %}
          <section class="service-landing-page__updates">
            {{ service_updates }}
          </section>
        {% endif %} #}
        {# End Service Updates #}

        {# Begin Contact Section #}
        <div class="columns">
          <div class="column"> {# Begin contact details column #}

            {% if
              node.localgov_email_address.value
              or node.localgov_address.value
              or node.localgov_opening_hours.value
              or node.localgov_phone.value
              or node.localgov_facebook.value
              or node.localgov_twitter.value
              or node.localgov_hearing_difficulties_phone.value
            %}



        <div class="message is-info">
          <div class="message-body content">
            <h2 class="">{{ 'Contact this service'|t }}</h2>
            <div class="columns">

                {% if node.localgov_email_address.value
                  or node.localgov_address.value
                  or node.localgov_opening_hours.value
                  or node.localgov_phone.value
                %}
                  {# Begin Contact Containers #}
                  <div class="column">
                        {% if node.localgov_email_address.value %}
                          <p>
                            <i class="fa-light fa-envelope"></i>
                            <a href="mailto:{{ node.localgov_email_address.value }}">{{ 'Send us an email'|t }}</a>
                          </p>
                        {% endif %}

                        {% if node.localgov_phone.value %}
                          <p>
                            <i class="fa-light fa-phone"></i>
                            <span class="visually-hidden">{{ 'Our phone number'|t }}</span>
                            {{ content.localgov_phone|render|striptags }}
                          </p>
                        {% endif %}

                        {% if node.localgov_contact_us_online.value %}
                          <p>
                            <i class="fa-light fa-globe-pointer"></i>
                            <span class="visually-hidden">{{ 'Our website'|t }}</span>
                            <a href="{{ node.localgov_contact_us_online.value }}">{{ node.localgov_contact_us_online.value }}</a>
                          </p>
                        {% endif %}

                        {% if node.localgov_other_team_contacts.value %}
                          <p>
                            <i class="fa-light fa-globe-pointer"></i>
                            <span class="visually-hidden">{{ 'Other team contacts website'|t }}</span>
                            <a href="{{ node.localgov_other_team_contacts.value }}">{{ node.localgov_other_team_contacts.value }}</a>
                          </p>
                        {% endif %}

                      {% if node.localgov_opening_hours.value %}
                        <h3 class="">{{ 'Opening times'|t }}</h3>
                          {{ content.localgov_opening_hours }}
                      {% endif %}
                    </div>

                    {# Begin Contact Second #}
                    <div class="column">
                      {% if node.localgov_address_first_line.value or node.localgov_address.value %}
                        <h3 class="">{{ 'Address'|t }}</h3>
                        {% if node.localgov_address_first_line.value %}
                          <p>{{ content.localgov_address_first_line }}</p>
                        {% endif %}
                        {% if node.localgov_address.value %}
                          <p>{{ content.localgov_address }}</p>
                        {% endif %}
                        {% if node.localgov_link_to_map.value %}
                          <p>
                            <i class="fa-light fa-map-location-dot"></i>
                              <a href="{{ content.localgov_link_to_map|render|striptags }}" class="external-link" target="_blank">{{ 'View map'|t }}</a>
                          </p>
                        {% endif %}
                      {% endif %}
                    </div>
                    {# Begin Contact Second #}
                  </div>
                  {# End Contact Containers #}

                {% endif %}

                {# Begin Contact Socials and a11y number #}
                {% if node.localgov_facebook.value or node.localgov_twitter.value or node.localgov_hearing_difficulties_phone.value %}

                    {% if node.localgov_facebook.value or node.localgov_twitter.value %}
                      <h3 class="">{{ 'Find us on'|t }}</h3>

                        {% if node.localgov_facebook.value %}
                          <p>
                            <i class="fa-brands fa-square-facebook"></i>
                            <a href="{{ content.localgov_facebook|render|striptags }}">{{ 'Facebook'|t }}</a>
                          </p>
                        {% endif %}

                        {% if node.localgov_twitter.value %}
                          <p>
                            <i class="fa-brands fa-square-twitter"></i>
                            <a href="{{ content.localgov_twitter|render|striptags }}">{{ 'Twitter'|t }}</a>
                          </p>
                        {% endif %}

                    {% endif %}

                    {% if node.localgov_hearing_difficulties_ph.value %}
                      <p>
                        {% trans %}
                          If you have hearing or speech difficulties, please call {{ node.localgov_hearing_difficulties_ph.value }}.
                        {% endtrans %}
                      </p>
                    {% endif %}
                {% endif %}
                {# End Contact Socials and a11y number #}

              </div>
            {% endif %}
            {# End Contact Section #}

          </div> {# End message-body}
        </div> {# End message #}
      </div> {# End contact details column #}

      {# Begin Sidebar #}
      {% if node.localgov_popular_topics.value %}
        <aside class="column is-one-third">
          {{ content.localgov_popular_topics }}
        </aside>
      {% endif %}
      {# End Sidebar #}

    </div> {# End columns #}

</article>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('localgov_name', 'localgov_other_field', 'localgov_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
