{% if not localgov_base_remove_css %}
	{{ attach_library('localgov_base/service-statuses') }}
{% endif %}

{% if items %}
	<div class="service-statuses">

		<div class="service-statuses__header">
			<div class="service-statuses__title">
				<h2 class="service-statuses__label">
					<i class="fa-solid fa-circle-info"></i>
					{{ 'Service updates'|t }}</h2>
			</div>
			<a href="{{ see_all_link }}" aria-label="{{ 'See all updates for this service'|t }}" class="service-statuses__link service-statuses__link--top">
				{{ 'See all updates'|t }}
			</a>
		</div>

		<ul class="service-statuses-list">
			{% for item in items %}
				<li class="service-statuses-list__item">
					<article class="service-status">
						<time datetime="{{ item.date|date("Y-m-d") }}" class="service-status__date">{{ item.date|date("d F Y") }}</time>
						<h3 class="service-status__title">
							<a href="{{ item.url }}">
								{{ item.title }}
							</a>
						</h3>
						<p class="service-status__summary">{{ item.description }}</p>
					</article>
				</li>
			{% endfor %}
		</ul>

	</div>
{% endif %}
